div
    margin: 0 auto
    overflow: hidden
    h1
        font-family: $main-font
        color: $white
        font-weight: $medium-weight
        font-size: 52px
        text-align: center
        margin-top: 25px
        margin-bottom: 0px

@media screen and (min-width: 1200px)
    div
        h1
            font-size: 64px
